<!-- <h1>SalesBoard</h1> -->
<%= link_to image_tag("salesboard_logo.jpg", :width=>150), '#', id: "logo-test" %>
</br>
</br>
</br>
<h2>SalesBoard gives you actionable visual metrics to better understand how to improve your sales performance.</h2>

